
<div class="container">
  <nav class="fixed-top">
    <ul class="nav nav-tabs">
      <h6 class="fw-bold me-5" style="margin: 0; color: rgb(0, 0, 0); text-decoration: underline;" href="#">Fish</h6>
      <li class="nav-item">
        <a class="nav-link " href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#third">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#fourth">About</a>
      </li>
      <li class="nav-item ms-5">
        <a class="nav-link"  href="order">Order</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
  <a class="nav-linkk" *ngIf="showBackToTop" (click)="scrollToTop()">
    <i class="bi-arrow-up-circle-fill" style="font-size:30px ;"></i>
  </a>