<div class="container mt-5" id="first" >
    <div class="infor ">
      <h1><span>Enjoy our </span> <br>
        <span>Delicious meal</span></h1>
      <p>Fish meal is a high-protein animal feed ingredient made from fish, particularly from species like anchovies, sardines, and menhaden. It’s commonly used in aquaculture, livestock, and pet food due to its rich nutrient</p>
    </div>
    <img  #rotatingImg class="spinner" src="/assets/dish.png" alt="">
    <p class=" mt-4 infor">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, eaque porro nulla magnam commodi tempore odio ullam, quaerat illum dicta reiciendis veritatis animi expedita architecto iste in, quibusdam explicabo eligendi.</p>
  </div>

  <div class="container mt-2" id="third">
    <h1 class="text-center mt-4">Gallery</h1>
    <div class="row">
      <div class="col-6 mt-5" style="height: 80%px;">
        <img src="/assets/1.jpg" class="img-fluid">
      </div>
      <div class="col-6 mt-5" >
        <img src="/assets/3.jpg" class="img-fluid">
      </div>
      <div class="col-6 mt-3">
        <img src="/assets/4.jpg" class="img-fluid">
      </div>
      <div class="col-6" style="margin-top: -10%;">
        <img src="/assets/2.jpg" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-6 mt-5" style="height: 80%px;">
        <img src="/assets/2.jpg" class="img-fluid">
      </div>
      <div class="col-6 mt-5" >
        <img src="/assets/4.jpg" class="img-fluid">
      </div>
      <div class="col-6 mt-3">
        <img src="/assets/3.jpg" class="img-fluid">
      </div>
      <div class="col-6" style="margin-top: -10%;">
        <img src="/assets/1.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container mt-2" id="fourth">
    <h1 class="text-center">About Us</h1>
    <img src="/assets/aboutus.jpg">
    <h1 class="hotel-name"> <span>Hotel</span> <br>
      <span>Name</span></h1>
    <div class="mt-5">
      <div class="row pt-3">
        <div class="col-6  mb-3">
          <div class="card text-center">
            <div class="card-title"><i>icon</i></div>
            <div class="card-body">
            <strong>Master cheif</strong>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident repudiand</p>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="card text-center">
            <div class="card-title"><i>icon</i></div>
            <div class="card-body">
            <strong>Quality Food</strong>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident repudiand</p>
            </div>
          </div>
        </div>
        <div class="col-6  mb-3">
          <div class="card text-center">
            <div class="card-title"><i>icon</i></div>
            <div class="card-body">
            <strong>Master cheif</strong>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident repudiand</p>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="card text-center">
            <div class="card-title"><i>icon</i></div>
            <div class="card-body">
            <strong>Quality Food</strong>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident repudiand</p>
            </div>
          </div>
        </div>
      </div>

      <p class="pt-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatem iste velit, dolorum laboriosam similique ex consequatur a deserunt explicabo odit hic, omnis nemo eos sunt cupiditate necessitatibus consequuntur mollitia.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit odio est deserunt assumenda sunt sequi corrupti possimus, earum suscipit similique, quia harum esse quaerat aliquid labore nesciunt, reprehenderit officia veniam.</p>
    </div>
    <h1><span class="vertical-line">|</span> <span class="text"> 15 years experience</span></h1>
    <h1><span class="vertical-line">|</span> <span class="text"> Master Cheif</span></h1>
    <h1><span class="vertical-line">|</span> <span class="text"> Best Dinning</span></h1>
    <h1><span class="vertical-line">|</span> <span class="text"> Fast Service</span></h1>
</div>