<main>
    <div class="container-fluid mt-1" style="padding-top: 5%;">
      <div class="row justify-content-center">
        <div class="col-md-4 carousel-fade">
          <div class="card mt-6 shadow-lg">
            <div class="card-body">
              <h5 class="card-title text-center mb-4">Admin Login</h5>
              <form>
                <div class="mb-3">
                  <label for="loginEmail" class="form-label">Email</label>
                  <input type="email" id="loginEmail" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="admin.email">
                  <small class="form-text text-muted">Please enter your admin email address.</small>
                </div>
  
                <div class="mb-3">
                  <label for="loginPassword" class="form-label">Password</label>
                  <input type="password" id="loginPassword" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="admin.password">
                  <small class="form-text text-muted">Please enter your admin password.</small>
                </div>
  
                <button type="button" class="btn btn-primary w-100 cursor-pointer" (click)="login()">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <footer class="mt-4 text-center">
      <div>
        <a href="https://www.instagram.com" target="_blank" class="me-3"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blank" class="me-3"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="_blank" class="me-3"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com" target="_blank" class="me-3"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:support@example.com" target="_blank" class="me-3"><i class="fas fa-envelope"></i></a>
      </div>
      </footer>
  </main>